<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="./css/main.css"> -->
	<link rel="stylesheet" href="./css/home.css">

	<script type="text/javascript">
		
	</script>
</head>
<body>
	<div class="l-center">
        <div class="navl">
            <div class="left">
                <img src="./css/joystick.webp" width="75px" alt="">
                <h1>PlayIt</h1>
            </div>
            <div class="right">
                <div class="r-item"> <a href="/login">Login</a> </div>
                <div class="r-item"><a href="/register">Register</a></div>
            </div>
        </div>
        <div class="down">
            <div class="main-left">
                <h1>ENJOY EVERY GAME IN VIRTUAL</h1>
                <p>From communities to game publishers,thousands of organizers
                    trust Playit to organize thier touraments</p>
                    <button> <a href="/login"> Get Started</a></button>
            </div>
            <div class="main-right"><img src="./css/game.jpeg" width="600px" alt=""></div>
        </div>

</div>

</body>
</html>