h1{
    margin: 0;
}
a{
    text-decoration: none;
    color: black!important;
}
a:hover{
    text-decoration: none;
    color: none;
}
.left{
    display: flex;
    align-items: center;
}
.right
{
    display: flex;
}
.navl{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content:space-between ;
    margin: 20px 100px;
}
.r-item{
    font-size: 1.9rem;
    margin-right: 20px;
}
.left h1{
    color: red;
    margin-left: 10px;
}
.down{
    display: flex;
}
.main-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 100px;
}
.main-left h1{
    font-size: 8rem;
}
.main-left p{
    font-size: 2rem;
}
.main-left button{
    background-color: #0acb29;
    font-size: 3rem;
    border: none;
    border-radius:360px ;
    width: 30%;
    font-weight: bold;
    padding: 10px 0px;
}
.h-center{
    background-image: url('banner.png');
 height: 100vh;
 background-size: cover;
    width: 100%;
}
.doitbro{
    position: absolute;
    top: 455px;
    left: 495px;
}